## HW09 Solution

In [2]:
import scipy.stats as stats
import statistics 
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math

In [3]:
#calculate Sampling Distribution of the mean for P(X<...) or P(X<=...)
def pvalue (n, mu, s, x):

    s_n = s/(n**0.5)
    nd = stats.norm(mu, s_n)
    
    z = (x-mu)/s_n
    return z, nd.cdf(x)

In [4]:
def type2pvalue_h1larger(meanh0, psigma , nsize ,alpha, meanh1 ):
    
    #calculate z cirtical value
    zcv = stats.norm.ppf(1-alpha)
    print(f"z critical value = {zcv:.4f}")
    
    #calculate x cirtical value
    xcv = meanh0 + zcv * psigma / (nsize ** 0.5)
    print(f"x critical value = {xcv:.4f}")
    
    #calculate p value
    ztype2 = (xcv - meanh1) / (psigma / (nsize ** 0.5))
    type2p = stats.norm.cdf(ztype2)
    print(f"P(typeII) = {type2p:.4f}")

In [5]:
def type2pvalue_h1smaller(meanh0, psigma , nsize ,alpha, meanh1 ):
    
    #calculate z cirtical value
    zcv = stats.norm.ppf(alpha)
    print(f"z critical value = {zcv:.4f}")
    
    #calculate x cirtical value
    xcv = meanh0 + zcv * psigma / (nsize ** 0.5)
    print(f"x critical value = {xcv:.4f}")
    
    #calculate p value
    ztype2 = (xcv - meanh1) / (psigma / (nsize ** 0.5))
    type2p = 1-stats.norm.cdf(ztype2)
    print(f"P(typeII) = {type2p:.4f}")

## 11.57  (20%) (H0H1 3%, 是否reject H0及原因(pvalue, critical value等) 3%, 結論 3%)  
let mu be mean monthly expenditures on bakery products for all Americans  
H0: mu = 30  
H1: mu != 30  
-> (two tail)  
alpha = 0.1

In [6]:
df57 = pd.read_excel("Xr11-57.xlsx")
df57

     Bakery
0      37.90
1      22.54
2      29.77
3      26.15
4      33.08
..       ...
272    31.67
273    34.05
274    24.11
275    31.73
276    31.50

[277 rows x 1 columns]

In [13]:
n = len(df57)
x = df57["Bakery "].mean()
mu = 30
s = 5
z, p = pvalue (n, mu, s, x)

#two-tail
print(z)
print('pvalue =', p*2)

-1.6298433802188443
pvalue = 0.10313460274341513

Since pvalue > significance level = 0.1, we do not reject H0.  
There is not enough evidence to infer that the average mean monthly expenditures on bakery products is not equal to $30.

## 11.58  (20%) (H0H1 3%, 是否reject H0及原因(pvalue, critical value等) 3%, 結論 3%)  
let mu be mean amount for all Americans with 401k investments.  
H0: mu <= 125000  
H1: mu > 125000  
-> (right tail)  
alpha = 0.05

In [8]:
df58 = pd.read_excel("Xr11-58.xlsx")
df58

     Value 401k
0        119038
1        133669
2        172148
3        136831
4         83680
..          ...
405      150991
406      128422
407      103749
408      101507
409      129772

[410 rows x 1 columns]

In [15]:
n = len(df58)
x = df58["Value 401k"].mean()
mu = 125000
s = 25000
z, p = pvalue (n, mu, s, x)

#
print(z)
print('pvalue =', 1-p)

1.4877835086269933
pvalue = 0.06840399808083741

Since pvalue > significance level = 0.05, we do not reject H0.  
There is not enough evidence to infer that mean value of 401k accounts is greater than $125,000.

## 11.60 (10%)

In [6]:
meanh0 = 1000
psigma = 50
nsize = 25
alpha = 0.01
meanh1 = 1050

type2pvalue_h1larger(meanh0, psigma , nsize ,alpha, meanh1 )

z critical value = 2.3263
x critical value = 1023.2635
P(typeII) = 0.0038

## 11.77 (35%) ((i)(ii)(iii) P(type II)各10%，the lowest probability of a type II error 5%)

In [11]:
meanh0 = 10
psigma = 3
nsize = 25
alpha = 0.01
meanh1 = 9

print('(i)')
nsize = 100
alpha = 0.01
type2pvalue_h1smaller(meanh0, psigma , nsize ,alpha, meanh1 )

(i)
z critical value = -2.3263
x critical value = 9.3021
P(typeII) = 0.1570

In [12]:
print('(ii)')
nsize = 75
alpha = 0.05
type2pvalue_h1smaller(meanh0, psigma , nsize ,alpha, meanh1 )

(ii)
z critical value = -1.6449
x critical value = 9.4302
P(typeII) = 0.1071

In [13]:
print('(iii)')
nsize = 50
alpha = 0.1
type2pvalue_h1smaller(meanh0, psigma , nsize ,alpha, meanh1 )

(iii)
z critical value = -1.2816
x critical value = 9.4563
P(typeII) = 0.1411

#### Plan ii has the lowest probability of a type II error.

## 11.78 (15%) (沒寫potential cost-5%)

H0: the mean wind velocity <= 20 mph (the site is not feasible)  
H1: the mean wind velocity > 20 mph (the site is feasible)  
A Type I error occurs when we conclude that the site is feasible when it is not.  
The consequence of this decision is to conduct further testing.  
A Type II error occurs when we do not conclude that a site is feasible when it actually is.  
We will do no further testing on this site, and as a result we will not build on a good site.  
If there are few other possible sits, this could be an expensive mistake.